# My Jupyter Notebook

# My Jupyter Notebook on IBM Watson Studio

In this notebook, I will demonstrate some basic Data Science concepts …

Python、R、SQL、Julia、Java

Pandas、NumPy、Matplotlib、Scikit-learn、TensorFlow

| Tool            | Category        |
|-----------------|-----------------|
| RStudio         | IDE             |
| Apache Spark    | Big Data Engine |

Below are some examples of evaluating arithmetic expressions in Python.

In [2]:
# Example: multiply then add
a = 3
b = 4
c = a * b
d = c + 5
print(d)

17

In [3]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Objectives:
- List popular languages for Data Science
- List commonly used libraries
- Demonstrate arithmetic expressions

Chih-Chien Hsieh